// views/base.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Socket.IO Example
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.js")
  body
    h1 Socket.IO Real-time Data
    h1#dataDisplay