<section class="hero">
  <h2 class="header-text"> ERROR - SOMETHING WENT WRONG
  </h2>
  <a role="button" href="/">Back to home</a>
  <img src="/assets/imgs/landing1.png" alt="">
</section>

<script src="/js/claimRain.js"></script>
<script src="/js/logout.js"></script>